@import "@/styles/mixins";

.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  line-height: 1;

  svg.icon {
    height: 2em;
    margin-right: 0.6em;

    & + svg.line {
      margin-left: -0.2em;
    }

    &Blue {
      rect {
        fill: $blue;
      }

      polygon {
        fill: $white;
      }
    }

    &Mono {
      rect {
        fill: $dark;
      }

      polygon {
        fill: $white;
      }
    }

    &White {
      rect {
        fill: $white;
      }

      polygon {
        fill: $dark;
      }
    }

    &Dark {
      rect {
        fill: $dark;
      }

      polygon {
        fill: $white;
      }
    }
  }

  .prefix {
    margin-right: 0.6em;
    font-family: "Archivo";
    font-size: 1em;
    color: $dark;

    & + svg.line {
      margin-left: -0.4em;
    }

    & + .name {
      margin-left: -0.4em;
    }
  }

  svg.line {
    margin-right: 0.2em;
    height: 1.2em;
  }

  .name {
    font-family: "Archivo";
    color: $dark;
    font-size: 1em;
  }
}

[data-theme="dark"] {
  .logo {
    .prefix,
    .name {
      color: $white;
    }

    svg.icon {
      &Mono {
        rect {
          fill: $white;
        }

        polygon {
          fill: $dark;
        }
      }
    }

    svg.line {
      g {
        stroke: $dark-gray-3;
      }
    }
  }
}
