@import "@/styles/mixins";

.lh {
  &-1 {
    line-height: 1;
  }

  &-11 {
    line-height: 1.1;
  }

  &-12 {
    line-height: 1.2;
  }

  &-15 {
    line-height: 1.5;
  }

  &-2 {
    line-height: 2;
  }
}
