@import "@/styles/mixins";

#nprogress {
  .bar {
    background: $blue-light !important;
    height: 3px !important;
  }
}

// dark theme
[data-theme="dark"] {
  #nprogress {
    .bar {
      background: $blue-light !important;
    }
  }
}
