@import "@/styles/mixins";

.pwa {
  &-mobile {
    @media (display-mode: standalone) {
      &-d-none {
        display: none;
      }

      &-d-block {
        display: block;
      }

      &-d-flex {
        display: flex;
      }
    }
  }
}
